header {
 height: 100vh;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfPCOV4pIsWJu28iyoxRt54ftG-dTJ3JKqR5VtYtTS493OkKs8n_abQd4KYMDMzSApXX3r9kblnwHwq-4rhgQwbg&usqp=CAU&ec=45688577");
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover; 
 margin-bottom: 30px;
}

* {
 margin: 0px;
 padding: 0px;
 font-family: monospace;
}

#down {
 position: absolute;
 top:85vh;
 padding: 20px;
 font-size: 2.5em;
}

#down:hover {
 cursor: pointer;
 background-color: #eee;
 opacity: 0.8;
}

.img-container{
    text-align: center;
}
